{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'home.css'  %}">
    <link rel="icon" type="image/x-icon" href="site_logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>القائمة الرئيسية</title>
</head>
<body>
    <header>
        
        <h2> </h2>
    </header>

    <main>


        <div class="container">
            <div>
                <div class="features" id="features">
                    <img style="width: 500px;" src="{% static 'imgs/colog.png'  %}"  />
                     <div class="">
                        <div class="box">
                            <a href="/currencies/exchange/"><h2>بيع يومي</h2></a>
                        </div>   
                        <div class="box">
                            <a href="/currencies/rates/"><h2>سعر عملة</h2></a>
                        </div>   
                        {% if request.user.is_admin  %}
                        <div class="box">
                            <a href="/currencies/profits/"><h2>ارباح</h2></a>
                        </div>   
                        <div class="box">
                            <a href="/currencies/warehouse/"><h2>راس المال</h2></a>
                        </div>   
                        <div class="box">
                            <a href="/users/"><h2>مستخدمين</h2></a>
                        </div>   
                        {% endif  %}
                        <div class="box">
                            <a href="/currencies/reciepts/"><h2>وصل</h2></a>
                        </div>  
                        <!-- <div class="box">
                            <a href="#"><h2>مخزن</h2></a>
                        </div>    -->
                      
                       
                        <div class="box">
                            <a href="/users/logout/"><h2>تسجيل خروج</h2></a>
                        </div>  

                    </div>
                  </div>
            </div>
            </div>
        </div>
    </main>
</body>
</html>