{% extends "base.html" %} 

{% load static %}

{% block header %} 
Receipts
{% endblock header %}
{% block title  %}
Receipts
{% endblock title  %}
{% block style  %}
<link rel="stylesheet" href="{% static 'style.css'  %}">
{% endblock style  %}


{% block content %} 

        <div class="container">
           <div class="profits">
            
            <table>
                
                     <tr>
                         <th>Currency</th>
                        <th>price</th>
                         <th>Profit</th>
       
                     </tr>
                    
     
             
                    
                     {% for tx in transactions  %}
                     <tr>
                         <td>{{tx.symbol}} {{tx.name}}</td>
                         <td>{{tx.price}}</td>
                         <td>{{tx.profit}}</td>
                        
                        
                        
                     </tr>
                     {% endfor  %}
            </table>
 

           </div>
           
      

        </div>
    </main>
</body>
</html>

{% endblock content %}