{% extends "base.html" %} 

{% load static %}

{% block header %} 
مستودع
{% endblock header %}
{% block title  %}
مستودع
        {% endblock title  %}
{% block style  %}
<link rel="stylesheet" href="{% static 'style.css'  %}">
{% endblock style  %}


{% block content %} 

        <div class="container">
           <div class="profits">
            
            <table>
                
                     <tr>
                         <th>From</th>
                         <th>To</th>
                         <th>Type</th>
                         <th>Price</th>
                         <th>Buy price</th>
                         <th>Sell price</th>
       
                     </tr>
                    
     
             
                    
                     {% for tx in transactions  %}
                     <tr>
                         <td>{{tx.currency.name}}</td>
                         <td>{{tx.currency_to.name}}</td>
                         <td>{{tx.tx_type}}</td>
                         <td>{{tx.price}}</td>
                         <td>{{tx.buy_price}}</td>
                         <td>{{tx.sell_price}}</td>
                        
                     </tr>
                     {% endfor  %}
            </table>
 

           </div>
           
      

        </div>
    </main>
</body>
</html>

{% endblock content %}