{% extends "base.html" %} 

{% load static %}

{% block header %} 
مستودع
{% endblock header %}
{% block title  %}
مستودع
        {% endblock title  %}
{% block style  %}
<link rel="stylesheet" href="{% static 'style.css'  %}">
{% endblock style  %}


{% block content %} 

        <div class="container">
           <div class="profits">
            
            <table>
                
                     <tr>
                         <th>From</th>
                         <th>To</th>
                         <th>Type</th>
                         <th>Price</th>
                         <th>Buy price</th>
                         <th>Sell price</th>
       
                     </tr>
                    
     
             
                    
                     {% for tx in transactions  %}
                     <tr>
                         <td>{{tx.currency.name}}</td>
                         <td>{{tx.currency_to.name}}</td>
                         <td>{{tx.tx_type}}</td>
                         <td>{{tx.price}}</td>
                         <td>{{tx.buy_price}}</td>
                         <td>{{tx.sell_price}}</td>
                        
                     </tr>
                     {% endfor  %}
            </table>
 

           </div>
           
      
           <div class="employee">
            <p style="font-size: 18px; display: inline;">
                <span style="font-weight: 500; color: green;">{{request.user.username}} أهلا بك
                </span> 
                
            </p>
               
            <div>
                <p>

                    <strong>التاريخ:</strong>  الجمعة 8 مارس 2022   
                </p>
                <p> <strong>هوية الموظف : </strong> 12455</p>
               
            </div>
            <div class="rules">
                <p>يرجى التأكد من اتباع القواعد التالية عند حضور العميل</p>
                <ol>
                  <li>efrtg5rtg5rt</li>
                  <li>efrtg5rtg5rt</li>
               
                </ol>
            </div>
</div>
        </div>
    </main>
</body>
</html>

{% endblock content %}