{% extends "base.html" %} 

{% load static %}
{% block header %} 
سعر العملة{% endblock header %}
{% block title  %}
سعر العملة        {% endblock title  %}
{% block content %} 
    

        <div class="container">
           <table>
               
                    <tr>
                        <th>Currency</th>
                        <th>Employee Name</th>
                        
                        
                        <th>Price</th>

                        <th>actions</th>
                    </tr>
                   
    
                    {% for s in stores  %}

                    <tr>
                        <td>{{s.currency.name}} {{s.currency.symbol}}</td>
                        <td>{{s.name}}</td>
                       
                        <td>{{s.price}}</td>
                     
                        {% if request.user.is_admin  %}
                        <td>
                            <button class="edit">
                            <a href="/currencies/store/edit/{{s.id}}/">
                                edit
                            </a>
                            
                            </button>
                     
                        </td>
                        {% endif  %}
                    </tr>
                    {% endfor  %}
                   
           </table>
           
  
        </div>
          <div class="container">
                <div class="addnew-user customer-details">
                        
                    

                       

                         {% if request.user.is_admin  %}
                         <h3>Add  new currency store</h3>
                         {% for message in messages %}
                         <p style="color: red">  {{ message }}</p>
                     {% endfor %}
                        <form action="/currencies/store/add/" method="POST">
                        
                            {% csrf_token %}


                            <div class="form-control">
                            
                                <input type="text" placeholder="Employee Name" name="name" />
                            </div>
                            <div class="form-control">
                            <select name="currency" id="" style="width: 25%;">
                                {% for c in currencies  %}
                                    <option value="{{c.id}}">{{c.name}} ({{c.symbol}})</option>
                                {% endfor  %}
                                
                    
                            </select>
                        </div>
                            <div class="form-control">
                            
                                <input type="number" placeholder="Price" name="price" />
                            </div>
                            
                            
                            <button>اضافة</button>
                        </form>

                        {% endif  %}
                </div>
            </div>
{% endblock content %}