{% extends "base.html" %} 

{% load static %}

{% block header %} 
مستودع
{% endblock header %}
{% block title  %}
مستودع
        {% endblock title  %}
{% block style  %}
<link rel="stylesheet" href="{% static 'style.css'  %}">
{% endblock style  %}


{% block content %} 

        <div class="container">
           <div class="profits">
               <span style="color: #333;"><strong>List 23 April 2022</strong> exchange profit  </span>
            <table>
                
                     <tr>
                         <th>اسم</th>
                         <th>كمية</th>
       
                     </tr>
                    
     
             
                    
                     <tr>
                         <td>Dollar</td>
                         <td>124ع.د</td>
                         
                     </tr>
                     <tr>
                         <td>Euro</td>
                         <td>124ع.د</td>
                         
                     </tr>
                     <tr>
                         <td>Dollar</td>
                         <td>124ع.د</td>
                         
                     </tr>
                     <tr>
                         <td>Dollar</td>
                         <td>124ع.د</td>
                         
                     </tr>
                     <tr>
                         <td>Dollar</td>
                         <td>124ع.د</td>
                         
                     </tr>
                     <tr>
                         <td>Dollar</td>
                         <td>124ع.د</td>
                        
                     </tr>
    
            </table>
 

           </div>
           
    
        </div>
    </main>
</body>
</html>

{% endblock content %}