{% extends "base.html" %} 

{% load static %}

{% block header %} 
مستودع
{% endblock header %}
{% block title  %}
مستودع
        {% endblock title  %}
{% block style  %}
<link rel="stylesheet" href="{% static 'style.css'  %}">
{% endblock style  %}


{% block content %} 

        <div class="container">
           <div class="profits">
               <span style="color: #333;"><strong>List 23 April 2022</strong> exchange profit  </span>
            <table>
                
                     <tr>
                         <th>اسم</th>
                         <th>كمية</th>
       
                     </tr>
                    
     
             
                    
                     <tr>
                         <td>Dollar</td>
                         <td>124ع.د</td>
                         
                     </tr>
                     <tr>
                         <td>Euro</td>
                         <td>124ع.د</td>
                         
                     </tr>
                     <tr>
                         <td>Dollar</td>
                         <td>124ع.د</td>
                         
                     </tr>
                     <tr>
                         <td>Dollar</td>
                         <td>124ع.د</td>
                         
                     </tr>
                     <tr>
                         <td>Dollar</td>
                         <td>124ع.د</td>
                         
                     </tr>
                     <tr>
                         <td>Dollar</td>
                         <td>124ع.د</td>
                        
                     </tr>
    
            </table>
 

           </div>
           
           <div class="employee">
            <p style="font-size: 18px">
                <span style="text-decoration: underline;">Catherine Roberts</span>
                <span style="font-weight: 500; color: green;">أهلا بك</span> </p>
            <div>
                <p>Friday, 8 2022

                    <strong>تاريخ:</strong> 
                </p>
                <p>12455 <strong>هوية الموظف: </strong> </p>
               
            </div>
            <div class="rules">
                <p>يرجى التأكد من اتباع القواعد التالية عند حضور العميل</p>
                <ol>
                  <li>efrtg5rtg5rt</li>
                  <li>efrtg5rtg5rt</li>
                  <li>efrtg5rtg5rt</li>
                  <li>efrtg5rtg5rt</li>
                  <li>efrtg5rtg5rt</li>
                  <li>efrtg5rtg5rt</li>
                  <li>efrtg5rtg5rt</li>
                  <li>efrtg5rtg5rt</li>
                </ol>
            </div>
        </div>
        </div>
    </main>
</body>
</html>

{% endblock content %}